.Rproj.user
.Rhistory
.RData
.Ruserdata
breweries.csv
Beer Descriptors Simplified.xlsx
Beer Name Fuzzy Match List.csv
Brewery Name Fuzzy Match List.csv
WIP for Final Project.Rmd
archive (1).zip
archive.zip
beer_profile_and_ratings.csv
beers.csv
